NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=OwnMars

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Whop
WHOP_API_KEY=
WHOP_COMPANY_ID=biz_Hithga5935huzg
WHOP_WEBHOOK_SECRET=

# Paddle Billing (optional)
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=
PADDLE_ENV=sandbox

# Cryptomus (optional)
CRYPTOMUS_MERCHANT_ID=
CRYPTOMUS_API_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM=OwnMars <hello@ownmars.lol>

# Plausible
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=

# DataFast
NEXT_PUBLIC_DATAFAST_WEBSITE_ID=dfid_mrtwmsuzR6tdXquAEDpsz
NEXT_PUBLIC_DATAFAST_DOMAIN=ownmars.lol
NEXT_PUBLIC_DATAFAST_SHARE_URL=
DATAFAST_API_KEY=
